# Mandatory info for starting the app
REACT_APP_MORALIS_APPLICATION_ID = ""
REACT_APP_MORALIS_SERVER_URL = ""

REACT_APP_ETH_BRIDGE_ADDRESS = "0x371BC1C8963f7a2d9b09DD3e0ce2491d39eb9eF0"
REACT_APP_ETH_TOKEN_ADDRESS = "0x911d73626B880c2f073CcEEE4bD86575a40c5f81"

REACT_APP_BSC_BRIDGE_ADDRESS = "0x95c8bc60857d0dc9dF7e33C55Bdd2C140aB291E3"
REACT_APP_BSC_TOKEN_ADDRESS = "0xdEA1817BBF6597E38eBc0D14a4c324844bbD9D4B"

# Optional info for connecting your localChain and Moralis Database
moralisApiKey = xxxxx
moralisApiSecret = xxxxxxx
frpcPath = F:\frpc\frpc.exe
chain = ganache
moralisSubdomain = xxxxxxx.usemoralis.com
abiPath = "F:\ethereum-boilerplate\Truffle\build\contracts\Contract.json"